*{
	font-family: Verdana, Geneva, sans-serif;
	color: gray;
}

a {
	text-decoration: none;
	transition: color 0.2s ease;
}

a:hover {
	color:#3a3a3a;
}

html{
	background-color:#59b9f9;
}

body{
	width: 96%;
	background-color: #f1f1f1;
	margin: auto;
	margin-top: 30px;
}

#headerContainer{
	position:relative;
	width:auto;
	height:auto;
	margin:0px;
	padding:0px;
}
#headerImage{
	position:relative;
	width:100px;
	height:100px;
}
#headerText{
	position: relative;
	width:300px;
	height:auto;
	padding:0px;
	margin:0;
}
#headerText h1{
	position:relative;	
	width: auto;
	padding:0px;
	margin:0;
}
.form{
	width:auto;
	position: relative;
	float: right;
}

#navbar {
	color: red;
	background-color: lightgray; 
	padding-bottom: 5px; 
	padding-top: 5px; 
}

#navbar li {
	display: inline; 
	margin-right: 25px;
	transition: color 0.2s ease;
}

#navbar li:hover {
	color:#3a3a3a;
	background-color: gray; 
}

footer{
	
}

footer li {
	display: inline; 
	margin-right: 25px;
	transition: color 0.2s ease;
}

footer li:hover {
	color:#3a3a3a;
	background-color: gray; 
}













