*{
color: white;
}

body{
	background-color:#59b9f9;
}

#headerContainer{
	position:relative;
	width:auto;
	height:auto;
	margin:0px;
	padding:0px;
}
#headerImage{
	position:relative;
	width:100px;
	height:100px;
}
#headerText{
	position: relative;
	width:300px;
	height:auto;
	padding:0px;
	margin:0;
}
#headerText h1{
	position:relative;	
	width: auto;
	padding:0px;
	margin:0;
}
.form{
	width:auto;
	position: relative;
	float: right;
}